<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TscWinAdmin.Properties.Settings.LocalGeosTradingCardsConnectionString"
            connectionString="Data Source=MARR2\GMARRMSSQL1;Initial Catalog=GeosTradingCards;User ID=Urgele1;Password=goldmOOn78!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>